//-----------------------------------------------
// Projects Styles
//-----------------------------------------------

#projects
	header
		margin: 120px 0 50px 0
		text-align: center
		h1
			small
				display: block
				font-size: 60%
				margin-bottom: 10px

	.projects-grid
		overflow-x: hidden 
		.project-item
			padding-top: 5em
			padding-bottom: 5em
			&:first-child
				padding-top: 0
		h3
			margin-bottom: 10px
		.portfolio
			margin: 0 auto
			&.portfolio-1
				background: url('/img/portfolio/baisden-portfolio.jpg') 0 0 no-repeat
				background-size: 800px 471px
				width: 800px
				height: 471px
				float: right
			&.portfolio-2
				background: url('/img/portfolio/baisden-property.jpg') 0 0 no-repeat
				background-size: 800px 471px
				width: 800px
				height: 471px
			&.portfolio-3
				background: url('/img/portfolio/dlg-portal.jpg') 0 0 no-repeat
				background-size: 800px 471px
				width: 800px
				height: 471px
				float: right
			&.portfolio-4
				background: url('/img/portfolio/manchester-uni-opportunities.jpg') 0 0 no-repeat
				background-size: 800px 471px
				width: 800px
				height: 471px
		.descriptions
			padding: 20px
@media only screen and (max-width: 1068px)
	#projects
		.projects-grid
			.portfolio
				margin-bottom: 20px
				margin-left: auto
				margin-right: auto
				&.portfolio-1
					background: url('/img/portfolio/baisden-portfolio.jpg') 0 0 no-repeat
					background-size: 600px 353px
					width: 600px
					height: 353px
					margin-left: auto
					float: none
				&.portfolio-2
					background: url('/img/portfolio/baisden-property.jpg') 0 0 no-repeat
					background-size: 600px 353px
					width: 600px
					height: 353px
					margin-left: auto
				&.portfolio-3
					background: url('/img/portfolio/dlg-portal.jpg') 0 0 no-repeat
					background-size: 600px 353px
					width: 600px
					height: 353px
					margin-left: auto
					float: none
				&.portfolio-4
					background: url('/img/portfolio/manchester-uni-opportunities.jpg') 0 0 no-repeat
					background-size: 600px 353px
					width: 600px
					height: 353px
					margin-left: auto

@media only screen and (max-width: 767px)
	#projects
		.projects-grid
			.portfolio
				&.portfolio-1
					background: url('/img/portfolio/baisden-portfolio.jpg') 0 0 no-repeat
					background-size: 400px 236px
					width: 400px
					height: 236px
					margin-left: auto
				&.portfolio-2
					background: url('/img/portfolio/baisden-property.jpg') 0 0 no-repeat
					background-size: 400px 236px
					width: 400px
					height: 236px
					margin-left: auto
				&.portfolio-3
					background: url('/img/portfolio/dlg-portal.jpg') 0 0 no-repeat
					background-size: 400px 236px
					width: 400px
					height: 236px
					margin-left: auto
				&.portfolio-4
					background: url('/img/portfolio/manchester-uni-opportunities.jpg') 0 0 no-repeat
					background-size: 400px 236px
					width: 400px
					height: 236px
					margin-left: auto
